// Largeurs des conteneurs
//
// Définissez la largeur du conteneur et remplacez-la pour les barres de navigation fixes dans les requêtes multimédias.

@if $enable-container-classes {
  // Classe de conteneur unique avec des largeurs maximales de point d'arrêt
  .container,
  // Conteneur-fluid 100 % large à tous les points d'arrêt
  .container-fluid {
    @include make-container();
  }

  // Conteneurs réactifs qui sont 100 % larges jusqu'à un point d'arrêt
  @each $breakpoint, $container-max-width in $container-max-widths {

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      %responsive-container-#{$breakpoint} {
        max-width: $container-max-width;
      }

      // Étendez chaque point d'arrêt qui est plus petit ou égal au point d'arrêt actuel
      $extend-breakpoint: true;

      @each $name, $width in $grid-breakpoints {
        @if ($breakpoint == $name) {
          .#{breakpoint-infix($name, $grid-breakpoints)}container, .container-fluid {
            @extend %responsive-container-#{$breakpoint};
          }

          // Une fois le point d'arrêt actuel atteint, arrêtez l'extension
          @if ($breakpoint == $name) {
            $extend-breakpoint: false;
          }
        }
      }
    }
  }
}
