// Colors
@function en-rgb($valeur) {
    @return red($valeur), green($valeur), blue($valeur);
}

@function carte-deBoucle($carte, $fonc, $args...) {
  $_carte: ();

  @each $key, $value in $carte {
    // permet de passer la $key et la $value de la carte comme argument de fonction
    $_args: ();
    @each $arg in $args {
        $_args: append($_args, if($arg == "$key", $key, if($arg == "$value", $value, $arg)));
    }

    $_carte: map-merge($_carte, ($key: call(get-function($fonc), $_args...)));
  }

  @return $_carte;
}

// Carte fusion multiple
@function carte-fusion-multiple($cartes...) {
    $fusion-cartes: ();
  
    @each $carte in $cartes {
        $fusion-cartes: map-merge($fusion-cartes, $carte);
    }
    @return $fusion-cartes;
}