// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $bleu-500 and $$btn-font-size.

// Color system

$noire-blanc: (
    noire: #000000,
    blanc: #ffffff,
) !default;

$ardoises: (
    ardoise-50:  #f8fafc,
    ardoise-100: #f1f5f9,
    ardoise-200: #e2e8f0,
    ardoise-300: #cbd5e1,
    ardoise-400: #94a3b8,
    ardoise-500: #64748b,
    ardoise-600: #475569,
    ardoise-700: #334155,
    ardoise-800: #1e293b,
    ardoise-900: #0f172a,
    ardoise-950: #020617,
) !default;

$grises: (
    gris-50:  #f9fafb,
    gris-100: #f3f4f6,
    gris-200: #e5e7eb,
    gris-300: #d1d5db,
    gris-400: #9ca3af,
    gris-500: #6b7280,
    gris-600: #4b5563,
    gris-700: #374151,
    gris-800: #1f2937,
    gris-900: #111827,
    gris-950: #030712,
) !default;

$zincs: (    
    zinc-50: #fafafa,
    zinc-100:#f4f4f5,
    zinc-200:#e4e4e7,
    zinc-300:#d4d4d8,
    zinc-400:#a1a1aa,
    zinc-500:#71717a,
    zinc-600:#52525b,
    zinc-700:#3f3f46,
    zinc-800:#27272a,
    zinc-900:#18181b,
    zinc-950:#09090b,
) !default;

$neutres: (    
    neutre-50:  #fafafa,
    neutre-100: #f5f5f5,
    neutre-200: #e5e5e5,
    neutre-300: #d4d4d4,
    neutre-400: #a3a3a3,
    neutre-500: #737373,
    neutre-600: #525252,
    neutre-700: #404040,
    neutre-800: #262626,
    neutre-900: #171717,
    neutre-950: #0a0a0a,
) !default;

$pierres: (    
    pierre-50:  #fafaf9,
    pierre-100: #f5f5f4,
    pierre-200: #e7e5e4,
    pierre-300: #d6d3d1,
    pierre-400: #a8a29e,
    pierre-500: #78716c,
    pierre-600: #57534e,
    pierre-700: #44403c,
    pierre-800: #292524,
    pierre-900: #1c1917,
    pierre-950: #0c0a09,
) !default;

$rouges: (    
    rouge-50:  #fef2f2,
    rouge-100: #fee2e2,
    rouge-200: #fecaca,
    rouge-300: #fca5a5,
    rouge-400: #f87171,
    rouge-500: #ef4444,
    rouge-600: #dc2626,
    rouge-700: #b91c1c,
    rouge-800: #991b1b,
    rouge-900: #7f1d1d,
    rouge-950: #450a0a,
) !default;

$oranges: (    
    orange-50:  #fff7ed,
    orange-100: #ffedd5,
    orange-200: #fed7aa,
    orange-300: #fdba74,
    orange-400: #fb923c,
    orange-500: #f97316,
    orange-600: #ea580c,
    orange-700: #c2410c,
    orange-800: #9a3412,
    orange-900: #7c2d12,
    orange-950: #431407,
) !default;

$ambres: (
    ambre-50:  #fffbeb,
    ambre-100: #fef3c7,
    ambre-200: #fde68a,
    ambre-300: #fcd34d,
    ambre-400: #fbbf24,
    ambre-500: #f59e0b,
    ambre-600: #d97706,
    ambre-700: #b45309,
    ambre-800: #92400e,
    ambre-900: #78350f,
    ambre-950: #451a03,
) !default;

$jaunes: (
    jaune-50:  #fefce8,
    jaune-100: #fef9c3,
    jaune-200: #fef08a,
    jaune-300: #fde047,
    jaune-400: #facc15,
    jaune-500: #eab308,
    jaune-600: #ca8a04,
    jaune-700: #a16207,
    jaune-800: #854d0e,
    jaune-900: #713f12,
    jaune-950: #422006,
) !default;

$citrons: (
    citron-50:  #f7fee7,
    citron-100: #ecfccb,
    citron-200: #d9f99d,
    citron-300: #bef264,
    citron-400: #a3e635,
    citron-500: #84cc16,
    citron-600: #65a30d,
    citron-700: #4d7c0f,
    citron-800: #3f6212,
    citron-900: #365314,
    citron-950: #1a2e05,
) !default;

$verts: (
    vert-50:  #f0fdf4,
    vert-100: #dcfce7,
    vert-200: #bbf7d0,
    vert-300: #86efac,
    vert-400: #4ade80,
    vert-500: #22c55e,
    vert-600: #16a34a,
    vert-700: #15803d,
    vert-800: #166534,
    vert-900: #14532d,
    vert-950: #052e16,
) !default;

$emeraudes: (
    emeraude-50:  #ecfdf5,
    emeraude-100: #d1fae5,
    emeraude-200: #a7f3d0,
    emeraude-300: #6ee7b7,
    emeraude-400: #34d399,
    emeraude-500: #10b981,
    emeraude-600: #059669,
    emeraude-700: #047857,
    emeraude-800: #065f46,
    emeraude-900: #064e3b,
    emeraude-950: #022c22,
) !default;

$sarcelles: (
    sarcelle-50:  #f0fdfa,
    sarcelle-100: #ccfbf1,
    sarcelle-200: #99f6e4,
    sarcelle-300: #5eead4,
    sarcelle-400: #2dd4bf,
    sarcelle-500: #14b8a6,
    sarcelle-600: #0d9488,
    sarcelle-700: #0f766e,
    sarcelle-800: #115e59,
    sarcelle-900: #134e4a,
    sarcelle-950: #042f2e,
) !default;

$cyans: (
    cyan-50:  #ecfeff,
    cyan-100: #cffafe,
    cyan-200: #a5f3fc,
    cyan-300: #67e8f9,
    cyan-400: #22d3ee,
    cyan-500: #06b6d4,
    cyan-600: #0891b2,
    cyan-700: #0e7490,
    cyan-800: #155e75,
    cyan-900: #164e63,
    cyan-950: #083344,
) !default;

$ciels: (
    ciel-50:  #f0f9ff,
    ciel-100: #e0f2fe,
    ciel-200: #bae6fd,
    ciel-300: #7dd3fc,
    ciel-400: #38bdf8,
    ciel-500: #0ea5e9,
    ciel-600: #0284c7,
    ciel-700: #0369a1,
    ciel-800: #075985,
    ciel-900: #0c4a6e,
    ciel-950: #082f49,
) !default;

$bleus: (
    bleu-50:  #eff6ff,
    bleu-100: #dbeafe,
    bleu-200: #bfdbfe,
    bleu-300: #93c5fd,
    bleu-400: #60a5fa,
    bleu-500: #3b82f6,
    bleu-600: #2563eb,
    bleu-700: #1d4ed8,
    bleu-800: #1e40af,
    bleu-900: #1e3a8a,
    bleu-950: #172554,
) !default;

$indigos: (
    indigo-50:  #eef2ff,
    indigo-100: #e0e7ff,
    indigo-200: #c7d2fe,
    indigo-300: #a5b4fc,
    indigo-400: #818cf8,
    indigo-500: #6366f1,
    indigo-600: #4f46e5,
    indigo-700: #4338ca,
    indigo-800: #3730a3,
    indigo-900: #312e81,
    indigo-950: #1e1b4b,
) !default;

$purples: (
    purple-50:  #f5f3ff,
    purple-100: #ede9fe,
    purple-200: #ddd6fe,
    purple-300: #c4b5fd,
    purple-400: #a78bfa,
    purple-500: #8b5cf6,
    purple-600: #7c3aed,
    purple-700: #6d28d9,
    purple-800: #5b21b6,
    purple-900: #4c1d95,
    purple-950: #2e1065,
) !default;

$violets: (
    violet-50:  #faf5ff,
    violet-100: #f3e8ff,
    violet-200: #e9d5ff,
    violet-300: #d8b4fe,
    violet-400: #c084fc,
    violet-500: #a855f7,
    violet-600: #9333ea,
    violet-700: #7e22ce,
    violet-800: #6b21a8,
    violet-900: #581c87,
    violet-950: #3b0764,
) !default;

$fuchsias: (
    fuchsia-50:  #fdf4ff,
    fuchsia-100: #fae8ff,
    fuchsia-200: #f5d0fe,
    fuchsia-300: #f0abfc,
    fuchsia-400: #e879f9,
    fuchsia-500: #d946ef,
    fuchsia-600: #c026d3,
    fuchsia-700: #a21caf,
    fuchsia-800: #86198f,
    fuchsia-900: #701a75,
    fuchsia-950: #4a044e,
) !default;

$pinks: (
    pink-50: #fdf2f8,
    pink-100: #fce7f3,
    pink-200: #fbcfe8,
    pink-300: #f9a8d4,
    pink-400: #f472b6,
    pink-500: #ec4899,
    pink-600: #db2777,
    pink-700: #be185d,
    pink-800: #9d174d,
    pink-900: #831843,
    pink-950: #500724,
) !default;

$roses: (
    rose-50:  #fff1f2,
    rose-100: #ffe4e6,
    rose-200: #fecdd3,
    rose-300: #fda4af,
    rose-400: #fb7185,
    rose-500: #f43f5e,
    rose-600: #e11d48,
    rose-700: #be123c,
    rose-800: #9f1239,
    rose-900: #881337,
    rose-950: #4c0519,
) !default;

$noire-blanc-rgb: carte-deBoucle(
    $noire-blanc, en-rgb, "$value"
) !default;

$ardoises-rgb: carte-deBoucle(
    $ardoises, en-rgb, "$value"
) !default;

$grises-rgb:  carte-deBoucle(
    $grises, en-rgb, "$value"
) !default;

$zincs-rgb:   carte-deBoucle(
    $zincs, en-rgb, "$value"
) !default;

$neutres-rgb: carte-deBoucle(
    $neutres, en-rgb, "$value"
) !default;

$pierres-rgb: carte-deBoucle(
    $pierres, en-rgb, "$value"
) !default;

$rouges-rgb: carte-deBoucle(
    $rouges, en-rgb, "$value"
) !default;

$oranges-rgb: carte-deBoucle(
    $oranges, en-rgb, "$value"
) !default;

$ambres-rgb: carte-deBoucle(
    $ambres, en-rgb, "$value"
) !default;

$jaunes-rgb: carte-deBoucle(
    $jaunes, en-rgb, "$value"
) !default;

$citrons-rgb: carte-deBoucle(
    $citrons, en-rgb, "$value"
) !default;

$verts-rgb: carte-deBoucle(
    $verts, en-rgb, "$value"
) !default;

$emeraudes-rgb: carte-deBoucle(
    $emeraudes, en-rgb, "$value"
) !default;

$sarcelles-rgb: carte-deBoucle(
    $sarcelles, en-rgb, "$value"
) !default;

$cyans-rgb: carte-deBoucle(
    $cyans, en-rgb, "$value"
) !default;

$ciels-rgb: carte-deBoucle(
    $ciels, en-rgb, "$value"
) !default;

$bleus-rgb: carte-deBoucle(
    $bleus, en-rgb, "$value"
) !default;

$indigos-rgb: carte-deBoucle(
    $indigos, en-rgb, "$value"
) !default;

$purples-rgb: carte-deBoucle(
    $purples, en-rgb, "$value"
) !default;
$violets-rgb: carte-deBoucle(
    $violets, en-rgb, "$value"
) !default;

$fuchsias-rgb: carte-deBoucle(
    $fuchsias, en-rgb, "$value"
) !default;

$pinks-rgb: carte-deBoucle(
    $pinks, en-rgb, "$value"
) !default;

$roses-rgb: carte-deBoucle(
    $roses, en-rgb, "$value"
) !default;

$carte-fusion-couleurs: carte-fusion-multiple(
    $noire-blanc, $ardoises, $grises, $zincs, $neutres, $pierres, $rouges,
    $oranges, $ambres, $jaunes, $citrons, $verts, $emeraudes,
    $sarcelles, $cyans, $ciels, $bleus, $indigos, $purples,
    $violets, $fuchsias, $pinks, $roses
) !default;

$carte-fusion-couleurs-rgb: carte-fusion-multiple(
    $noire-blanc-rgb, $ardoises-rgb, $grises-rgb, $zincs-rgb, $neutres-rgb, $pierres-rgb, $rouges-rgb,
    $oranges-rgb, $ambres-rgb, $jaunes-rgb, $citrons-rgb, $verts-rgb, $emeraudes-rgb,
    $sarcelles-rgb, $cyans-rgb, $ciels-rgb, $bleus-rgb, $indigos-rgb, $purples-rgb,
    $violets-rgb, $fuchsias-rgb, $pinks-rgb, $roses
) !default;

//Options
//
// Modifiez rapidement le style global en activant ou en désactivant les fonctionnalités facultatives.

$activer-mode-sombre:            true !default;
$type-mode-couleur:              data !default; // `data` or `media-query`

// Préfixe pour les variables CSS :root

$prefixe-variable:             ns- !default;
$prefixe:                   --#{$prefixe-variable} !default;

// Espacement
//
// Contrôle le style par défaut de la plupart des éléments Bootstrap en les modifiant
// variables. Principalement axé sur l'espacement.
// Vous pouvez ajouter plus d'entrées à la carte $spacers, si vous avez besoin de plus de variation.

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

// Typographie
//
// Police, hauteur de ligne et couleur du corps du texte, des titres, etc.

// scss-docs-start variables de police
// stylelint-disable valeur-mot-clé-cas
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case
$font-family-base:            var(#{$prefixe}font-sans-serif) !default;
$font-family-code:            var(#{$prefixe}font-monospace) !default;

$font-sans:      ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-serif:       ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !default;

$font-mono:       ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root:              null !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;
// scss-docs-end font-variables

// scss-docs-start font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;
// scss-docs-end font-sizes

// scss-docs-start headings-variables
$headings-margin-bottom:      $spacer * .5 !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;
// scss-docs-end headings-variables

// scss-docs-start display-headings
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;

$display-font-family: null !default;
$display-font-style:  null !default;
$display-font-weight: 300 !default;
$display-line-height: $headings-line-height !default;
// scss-docs-end display-headings

// scss-docs-start type-variables
$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;

$small-font-size:             .875em !default;

$sub-sup-font-size:           .75em !default;

// fusv-disable
$text-muted:                  var(#{$prefixe}secondary-color) !default; // Deprecated in 5.3.0
// fusv-enable

$initialism-font-size:        $small-font-size !default;

$blockquote-margin-y:         $spacer !default;
$blockquote-font-size:        $font-size-base * 1.25 !default;
$blockquote-footer-color:     map-get($grises, gris-600) !default;
$blockquote-footer-font-size: $small-font-size !default;

$hr-margin-y:                 $spacer !default;
$hr-color:                    inherit !default;

// fusv-disable
$hr-bg-color:                 null !default; // Deprecated in v5.2.0
$hr-height:                   null !default; // Deprecated in v5.2.0
// fusv-enable

$hr-border-color:             null !default; // Allows for inherited colors
$hr-border-width:             var(#{$prefixe}border-width) !default;
$hr-opacity:                  .25 !default;

// scss-docs-start vr-variables
$vr-border-width:             var(#{$prefixe}border-width) !default;
// scss-docs-end vr-variables

$legend-margin-bottom:        .5rem !default;
$legend-font-size:            1.5rem !default;
$legend-font-weight:          null !default;

$dt-font-weight:              $font-weight-bold !default;

$list-inline-padding:         .5rem !default;

$mark-padding:                .1875em !default;
$mark-color:                  map-get($noire-blanc, noire) !default;
$mark-bg:                     map-get($jaunes, jaune-100) !default;
// scss-docs-end type-variables